/* import bootstrap to set changes */
@import "styles/custom.scss";

$body-bg: $black;
$body-color: $gray-900;
$font-family-sans-serif: "Poppins", sans-serif;
$font-family-base: $font-family-sans-serif;
$font-size-base: 1rem;
/*modal*/
$modal-content-border-color: $primary;
$modal-content-color: $white;
$modal-content-bg: rgba($color: $black, $alpha: .9);
$btn-close-color: $primary;
$btn-close-bg: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='#{$btn-close-color}'><path d='M.293.293a1 1 0 011.414 0L8 6.586 14.293.293a1 1 0 111.414 1.414L9.414 8l6.293 6.293a1 1 0 01-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 01-1.414-1.414L6.586 8 .293 1.707a1 1 0 010-1.414z'/></svg>");
$modal-header-border-color: $primary;
$modal-footer-border-color: $primary;



@import "bootstrap";


* {
  box-sizing: border-box;
}

html{
  font-size: 18px;
  min-height: 100%;
  &:before {
    content: '';
    background: url('../assets/images/bg_default.jpg') no-repeat center bottom / cover;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
  }
}

ul,li,dl,dd,dt{
  margin: 0; padding: 0; list-style: none;
}

/* forms */
.form-control{
  color: $white;
  &:not(active){
    background:transparent;
    border-color: $primary;
  }
  &::placeholder{
    color: $primary;
  }
  &:focus{
    color: $white;
    background-color: rgba($color: $black, $alpha: .5);
  }
}

/* alert */
.alert{
  width: 100%;
  top: auto;
  left: 0;
  right: 0;
  bottom: -50px;
  z-index: 10;
  text-align: center;
}

/**/
.btn-outline-primary{
  background-color: rgba($color: $black, $alpha: .5);
}
